<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Template ngAdminSM - dashboard</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="theme-slate.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="sidebar.css">

</head>

<body ng-app="clientApp">


<div id="wrapper" ng-controller="sidebarsCtrl" ng-class="sideBar">

	<!-- sidebars -->
	<div id="page-sidebars" ng-style="pageSidebars">

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="sidebar-top">
				&nbsp;<button id="sidebar-arrow" ng-click="toggleSidebar()"><i class="fa fa-angle-right"></i></button>
			</div>
			<nav>
				<ul>
					<li><a href="#lnk1"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li><a href="#lnk2"><i class="fa fa-line-chart"></i> <span>Data Presentation</span></a></li>
					<li><a href="#lnk3"><i class="fa fa-film"></i> <span>Upload video</span></a></li>
				</ul>
			</nav>
		</div>
		<!-- /Sidebar 1 -->

		<!-- button when width < 480px -->
		<div id="sidebars-button" ng-style="sidebarButton">
			<button ng-click="toggleSidebars()" title="toggle sidebars"><i class="fa fa-bars"></i></button>
		</div>


	</div>
	<!-- /sidebars -->







	<!-- content -->
	<div id="page-content" ng-style="pageContent">
		<div class="container-fluid">

			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid" style="padding-right:18px;">

				<!-- Navbar button -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nv">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Company Logo</a>
				</div>

				<!-- Navbar -->
				<div class="collapse navbar-collapse" id="nv">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Link 1 (active)</a></li>
						<li><a href="https://smikodanic.github.io/template-ng-adminsm/login.html">Login Form</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Mark Twain <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Profile</a></li>
								<li class="divider"></li>
								<li><a href="#">Log Out <i class="fa fa-sign-out pull-right"></i></a></li>
							</ul>
						</li>
					</ul>
				</div>

				</div>
				</nav>
			</div>


			<div class="row">
				<div class="col-sm-12">
					<h1>Heading</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque nobis error facere maxime officia
					doloremque illum odit, neque consectetur veritatis aperiam atque, aliquid ducimus explicabo, odio, ipsa in quod.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque nobis error facere maxime officia
					doloremque illum odit, neque consectetur veritatis aperiam atque, aliquid ducimus explicabo, odio, ipsa in quod.
					<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque nobis error facere maxime officia
					doloremque illum odit, neque consectetur veritatis aperiam atque, aliquid ducimus explicabo, odio, ipsa in quod.

					<br>
					<br>
					<br>
					<p class="alert alert-warning" ng-cloak>
						<small>SIDEBAR STATES</small>
						<br><b>#sidebar:</b> {{sideBar}}
					</p>
				</div>

			</div>
		</div>
	</div>
	<!-- /content -->

</div><!-- /div#wrapper -->

	<!-- JS libs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

	<!-- Angular app -->
	<script src="ng.js"></script>


</body>
</html>
