#topnavbar {

	& .navbar {
		& .sidebar-button {
			color: #aaa;
		}
	}

	& .nav.navbar-nav li:hover {
		background-color: #eee;
	}

	& .navbar-header > button > .fa {
		font-size: 21px;

		&.in {
			transform: rotate(180deg);
		}
	}

	& .nav.navbar-nav.navbar-right {
		margin-right: 5px;
	}

}
